h1 {
    font-size: 30px;
    color: darkorange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    h2 {
        font-size: 20px;
        color: rgb(132, 236, 118);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align-last: center;
    }
    
    p{
    color: rgb(248, 252, 41);
    font-size: 15px;
    text-align: justify;
    }

    body{
        background-color: rgb(250, 242, 175);
    }

    